<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- Dao接口完全限定名 -->
<mapper namespace="com.vansl.dao.BlogDao">
  <!-- 结果集映射 -->
  <resultMap id="BlogDataResult" type="com.vansl.dto.BlogData">
    <id property="id" column="id" />
    <result property="title" column="title"/>
    <result property="time" column="time"/>
    <result property="pv" column="pv"/>
    <result property="published" column="published"/>
    <result property="typeId" column="type_id"/>
    <result property="typeName" column="type_name"/>
  </resultMap>

  <!-- 通过博客id查询用户id -->
  <!-- id为接口中的方法名 -->
  <select id="selectUserIdByBlogId" resultType="java.lang.Integer">
    SELECT
      user_id
    FROM
      blog
    WHERE
      id=#{blogId}
  </select>

  <!-- 通过用户id查询所有文章 -->
  <select id="selectAll" resultMap="BlogDataResult">
    SELECT
      blog.id,
      blog.title,
      blog.time,
      blog.pv,
      blog.published,
      blog.type_id,
      blog_type.type_name
    FROM
      blog,blog_type
    WHERE
      blog.type_id=blog_type.id
    AND
      blog.user_id=#{userId}
    <if test="published">
      AND
        blog.published=0
    </if>
  </select>

  <!-- 通过博客id查询博客信息 -->
  <select id="selectById" resultMap="BlogDataResult">
    SELECT
      blog.id,
      blog.title,
      blog.time,
      blog.pv,
      blog.published,
      blog.type_id,
      blog_type.type_name
    FROM
      blog,blog_type
    WHERE
      blog.type_id=blog_type.id
    AND
      blog.id=#{id}
  </select>

  <!-- 通过分类id查询该分类下的所有博客 -->
  <select id="selectByTypeId" resultMap="BlogDataResult">
    SELECT
      blog.id,
      blog.title,
      blog.time,
      blog.pv,
      blog.published,
      blog.type_id
    FROM
      blog,blog_type
    WHERE
      blog.type_id=blog_type.id
    AND
      blog_type.id
    IN
      <foreach item="item" index="index" collection="typeIds"
               open="(" separator="," close=")">
        #{item}
      </foreach>

    <if test="published">
      AND
        blog.published=0
    </if>
  </select>

  <!-- 通过博客id查询博客内容 -->
  <select id="selectContentByBlogId" resultType="java.lang.String">
    SELECT
      content
    FROM
      blog
    WHERE
      id=#{id}
  </select>

  <!-- 添加博客 -->
  <insert id="insertBlog" parameterType="com.vansl.entity.Blog" >
    INSERT INTO
      blog(title,pv,content,text,published,user_id,type_id)
    VALUES
      (#{title},0,#{content},#{text},#{published},#{userId},#{typeId})
  </insert>

  <!-- 更新博客 -->
  <update id="updateBlog" parameterType="com.vansl.entity.Blog" >
    UPDATE
      blog
    <!-- set用于去除多于逗号-->
    <set>
      <if test="title != null">title=#{title},</if>
      <if test="published != null">published=#{published},</if>
      <if test="content != null">content=#{content},</if>
      <if test="text != null">text=#{text},</if>
      <if test="typeId != null">type_id=#{typeId}</if>
    </set>
    WHERE
      id=#{id}
  </update>

  <!-- 删除博客 -->
  <delete id="deleteBlog">
    DELETE FROM
      blog
    WHERE
      id=#{id}
  </delete>

  <!-- 通过分类id删除该分类下的所有博客 -->
  <delete id="deleteByTypeId">
    DELETE FROM
      blog
    WHERE
      type_id=#{type_id}
  </delete>

</mapper>