<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <description>Shiro Configuration</description>

  <!-- Shiro Filter -->
  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager" />
    <property name="loginUrl" value="/login" />
    <property name="filterChainDefinitions">
      <value>
        /admin = user
      </value>
    </property>
  </bean>

  <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

  <!-- AOP式方法级权限检查 -->
  <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
        depends-on="lifecycleBeanPostProcessor">
    <property name="proxyTargetClass" value="true" />
  </bean>

  <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    <property name="securityManager" ref="securityManager" />
  </bean>

  <!-- 安全管理器 -->
  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <property name="realm" ref="shiroRealm" />
    <property name="cacheManager" ref="cacheManager" />
    <!--
    <property name="sessionManager" ref="shiroSessionManager"/>
    -->
  </bean>

  <!-- 声明自定义Realm -->
  <bean id="shiroRealm" class="com.vansl.shiro.ShiroRealm"></bean>

  <!-- 用户授权信息Cache管理器 -->
  <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

  <!-- session管理器
  <bean id="shiroSessionManager" class="com.vansl.shiro.ShiroSessionManager">

  </bean>-->

</beans>